/* Mobile-first container */
.container {
  width: 100%;
  max-width: 320px;
  /* мобільна версія */
  margin: 0 auto;
  padding: 0 16px;
}

/* Tablet */
@media (min-width: 768px) {
  .container {
    max-width: 736px;
  }
}

/* Desktop */
@media (min-width: 1440px) {
  .container {
    max-width: 1344px;
  }
}